/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/.idea
/composer.lock
/bin/doctrine
/bin/doctrine.bat
/bin/doctrine.php
/bin/doctrine.php.bat
/bin/doctrine-dbal
/bin/doctrine-dbal.bat
/bin/phpunit
/bin/phpunit.bat
/bin/security-checker
/bin/security-checker.bat
